@model IEnumerable<Web.Entities.Urun>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<hr />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto ">
                <partial name="_AddExportPartialView" />

                <div class="card-body ">
                    <div id="example1_wrapper " class="dataTables_wrapper dt-bootstrap4 ">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            @*<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Ürün No</th>*@
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Ürün Kodu</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Ürün Tanımı</th>
                                            @*<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">İşlemler</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*<td class="dtr-control sorting_1 text-center" tabindex="0">
                                                        @if (!String.IsNullOrWhiteSpace(item.Branch.Company.CompanyImageFile))
                                                        {<img class="img-fluid" src="@item.Branch.Company.CompanyImageFile" style="width:100px;" />}
                                                    </td>*@
                                                @*<td class="dtr-control sorting_1" tabindex="0">@item.UrunId</td>*@
                                                <td class="dtr-control sorting_1" tabindex="0">@item.UrunKodu</td>
                                                <td class="dtr-control sorting_1" tabindex="0">@item.UrunTanimi</td>
                                                @*<td>
                                                    <a href="/Product/GetProduct/@item.UrunId" class="btn btn-info fas fa-edit"></a>
                                                    @Html.ActionLink(" ", "SoftDelete", "Product", new { siraNo = item.UrunId }, new { @class = "btn btn-danger fas fa-trash-alt", onclick = "return confirm('Silmek İstiyor musunuz ? ');" })

                                                </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ürün Bilgileri</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
                                    {
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Ürün Kodu :</label>
                                                <input type="text" name="UrunKodu" placeholder="Adı" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Ürün Tanımı :</label>
                                                <input type="text" name="UrunTanimi" placeholder="Adı" class="form-control" required />
                                            </div>
                                        </div>
                                        @*<div class="form-group col-12">
                                                <label>Şube Bilgisi<span style="color:red">*</span></label>
                                                <select class="form-control" name="BranchId" id="Branches" for="Regions" required disabled>
                                                    <option>Bir Şube Seçiniz</option>
                                                </select>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Departman Adı :<span style="color:red">*</span></label>
                                                    <input type="text" name="DepartmentName" placeholder="Departman Adı" class="form-control" required />
                                                </div>

                                            </div>*@
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Ekle</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/TalepWeb/plugins/jquery/jquery.min.js"></script>
